name: Renovate

on:
  schedule:
    - cron: '0 * * * *' # TODO
  workflow_dispatch:

concurrency:
  group: renovate

jobs:
  renovate:
    runs-on: ubuntu-latest
    steps:
      - uses: renovatebot/github-action@v44.2.2
        env:
          RENOVATE_REPOSITORIES: ${{ github.repository }}
          RENOVATE_ONBOARDING_CONFIG_FILE_NAME: .github/renovate.json
        with:
          token: ${{ secrets.ACTIONS_GITHUB_TOKEN }}
